@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
  height: 100%;
}

.section {
  padding: 15px 0;
}
.section__title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 110px 0 0 0;
}
@media (max-width: 540px) {
  .wrapper {
    padding: 100px 0 60px 0;
  }
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.topinfo {
  background-color: #2796FF;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
}
.topinfo__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}
@media (max-width: 768px) {
  .topinfo__body span {
    display: none;
  }
}
.topinfo__div {
  display: flex;
  margin: 0 -10px;
}
.topinfo__link {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 0 10px;
}
.topinfo__img {
  height: 25px;
  margin: 0 5px 0 0;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 9;
  top: 40px;
}
@media (max-width: 540px) {
  .header {
    height: 50px;
  }
}
.header__body {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 540px) {
  .header__body {
    height: 50px;
  }
}
.header__logo {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 28px;
  color: #2796FF;
}
@media (max-width: 540px) {
  .header__menu {
    position: fixed;
    z-index: 9;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  }
}
.header__link {
  color: #1f1f1f;
  text-transform: capitalize;
  margin: 0 0 0 10px;
  font-size: 14px;
}
.header__link svg {
  display: none;
}
@media (max-width: 540px) {
  .header__link {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .header__link.active {
    color: #2796FF;
  }
  .header__link.active svg path {
    stroke: #2796FF;
  }
  .header__link.active svg path.round {
    fill: #2796FF;
  }
  .header__link svg {
    display: block;
    height: 28px;
    margin: 0 0 5px 0;
  }
}

.hcatalog {
  height: calc(100% - 100px);
  position: fixed;
  z-index: 8;
  top: 100px;
  left: -300px;
  transition: left 0.7s;
  background-color: #F8F8F8;
}
@media (max-width: 540px) {
  .hcatalog {
    top: 90px;
    height: calc(100% - 150px);
  }
}
.hcatalog.active {
  left: 0;
  transition: left 0.7s;
}
.hcatalog__body {
  background-color: #F8F8F8;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* W3C standard
  сейчас только для Firefox */
  scrollbar-width: thin;
  scrollbar-color: #2796FF #ededed;
  /* для Chrome/Edge/Safari */
}
.hcatalog__body::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
.hcatalog__body::-webkit-scrollbar-track {
  background: #ededed;
}
.hcatalog__body::-webkit-scrollbar-thumb {
  background-color: #2796FF;
  border-radius: 10px;
  border: 3px solid #ededed;
}
.hcatalog__link {
  padding: 15px;
  display: inline-block;
  width: 250px;
  color: #1f1f1f;
  text-transform: uppercase;
}
.hcatalog__link:hover {
  background-color: rgba(37, 144, 244, 0.2);
}

.orders {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}
.orders__body {
  background: url(../img/order.png) 50%/cover no-repeat;
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.orders__icon {
  height: 28px;
}
.orders input {
  flex: 0 1 300px;
  margin: 0 10px 0 0;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
}
.orders button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 40px;
  background-color: #2796FF;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 10px;
  color: #fff;
}

.popular__body {
  display: flex;
  flex-wrap: wrap;
}
.popular__item {
  margin: 10px 0;
  flex: 0 1 25%;
  display: flex;
  align-items: center;
}
@media (max-width: 940px) {
  .popular__item {
    flex: 0 1 33.3333%;
  }
  .popular__item:nth-child(7) {
    display: none;
  }
  .popular__item:nth-child(8) {
    display: none;
  }
}
@media (max-width: 740px) {
  .popular__item {
    flex: 0 1 50%;
  }
  .popular__item:nth-child(7) {
    display: flex;
  }
  .popular__item:nth-child(8) {
    display: flex;
  }
}
@media (max-width: 440px) {
  .popular__item {
    flex: 0 1 100%;
    display: none;
  }
  .popular__item:nth-child(7) {
    display: none;
  }
  .popular__item:nth-child(8) {
    display: none;
  }
  .popular__item.activeplus {
    display: flex;
  }
  .popular__item.active {
    display: flex;
  }
}
@media (max-width: 440px) {
  .popular .popular__btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #2796FF;
    margin-top: 10px;
  }
  .popular .popular__btn::before {
    text-align: center;
    content: "показать все";
  }
  .popular .popular__btn.active::before {
    text-align: center;
    content: "скрыть";
  }
}
.popular__img {
  height: 70px;
  width: 70px;
  border-radius: 5px;
}
.popular__info {
  margin: 0 0 0 15px;
}
.popular__title {
  text-transform: uppercase;
  color: #333333;
  font-weight: 500;
  margin-bottom: 10px;
}
.popular__price {
  color: #333333;
  font-weight: 300;
}

.stock {
  display: none;
  width: 100%;
  height: 250px;
}
.stock__body {
  width: 100%;
  height: 100%;
  display: flex;
}
.stock__screen {
  flex: 1 1 75%;
  border-radius: 5px 0 0 5px;
  background-color: #2796FF;
}
.stock__feedback {
  flex: 1 1 25%;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #F2F3F5;
}
.stock__feedback input {
  height: 40px;
  padding: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
}
.stock__feedback button {
  border-radius: 5px;
  height: 40px;
  background-color: #2796FF;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

.footer {
  background-color: #F6F7F8;
  color: #333333;
  width: 100%;
}
@media (max-width: 540px) {
  .footer {
    bottom: 60px;
  }
}
.footer__body {
  display: flex;
  flex-direction: column;
}
.footer__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EAECEE;
  padding: 10px 0;
}
.footer__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .footer__nav {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
  }
}
.footer__link {
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
  padding: 5px 0;
}
@media (max-width: 750px) {
  .footer__link {
    flex: 0 1 33.3333%;
  }
}
@media (max-width: 550px) {
  .footer__link {
    flex: 0 1 50%;
  }
}
@media (max-width: 350px) {
  .footer__link {
    flex: 0 1 100%;
  }
}
.footer__catalog {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer__catlink {
  text-transform: uppercase;
  flex: 0 1 16.666%;
  padding: 10px 0;
  color: #333333;
}
@media (max-width: 1050px) {
  .footer__catlink {
    flex: 0 1 20%;
  }
}
@media (max-width: 850px) {
  .footer__catlink {
    flex: 0 1 25%;
  }
}
@media (max-width: 750px) {
  .footer__catlink {
    flex: 0 1 33.3333%;
  }
}
@media (max-width: 550px) {
  .footer__catlink {
    flex: 0 1 50%;
  }
}
@media (max-width: 350px) {
  .footer__catlink {
    flex: 0 1 100%;
  }
}
.footer__catlink:hover {
  color: #2796FF;
}
.footer__social {
  min-width: 130px;
}
.footer__social svg {
  width: 28px;
  margin: 0 0 0 10px;
}
.footer__social svg path {
  stroke: #333333;
}