@charset "UTF-8";
/*Обнуление*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
// 340px, 420px, 640px, 1024px, 1200px
$activeColor : #00C876; // green
// $activeColor : #2796FF; // blue

$activeColorLight : rgba(0, 200, 118, 0.2); // green
// $activeColorLight : rgba(37, 144, 244, 0.2); // blue




body{
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    height: 100%;
}
.wrapper{
  min-height: 100%;
  padding: 110px 0 0 0;
  @media (max-width: 540px) {
    padding: 100px 0 70px 0;
  }
}


.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.topinfo {
    background-color:$activeColor;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    &__body {
      @media (max-width: 768px) {
        span{
          display: none;
        }
      }
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 40px;
    }
    &__div{
        display: flex;
        margin:  0 -10px;
    }
    &__link {
        display: flex;
        align-items: center;
        color: #fff;
        margin: 0 10px;
    }

    &__img {
        height: 25px;
        margin: 0 5px 0 0;
    }
}


.header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 9;
  top: 40px;
  @media (max-width: 540px) {
    height: 50px;
  }
  // .header__body
  &__body {
    display: flex;
      width: 100%;
      height: 60px;
      @media (max-width: 540px) {
        height: 50px;
      }
      align-items: center;
      justify-content: space-between;
  }

  // .header__logo

  &__logo {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
    color: $activeColor;
  }

  // .header__menu

  &__menu {
    @media (max-width: 540px) {
      position: fixed;
      z-index: 9;
      display: flex;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      justify-content: space-between;
      background-color: #fff;
      box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    }
  }

  // .header__link

  &__link {
    color: #1f1f1f;
    text-transform: capitalize;
    margin: 0 0 0 10px;
    font-size: 14px;
    svg{
      display: none;
    }
    @media (max-width: 540px) {
      margin: 0;
      display: flex;
      flex-direction: column;
      font-size: 8px;
      align-items: center;
      justify-content: center;
      width: 100%;
      &.active{
        color: $activeColor;
        svg{
            path{
              stroke: $activeColor;
            }
            path.round{
              fill: $activeColor;
            }
        }
      }
      svg{
        display: block;
        height: 28px;
        margin: 0 0 5px 0;
      }
    }
  }
}
.hcatalog {
  height: calc(100% - 100px);
  position: fixed;
  z-index: 8;
  top: 100px;
  left: -300px;
  transition: left 0.7s;
  @media (max-width: 540px) {
    top: 90px;
    height: calc(100% - 150px);
   }
  &.active{
    left: 0;
    transition: left 0.7s;
  }
  background-color: #F8F8F8;
  // .hcatalog__body
  &__body {
    background-color: #F8F8F8;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* W3C standard
   сейчас только для Firefox */

      scrollbar-width: thin;
      scrollbar-color: $activeColor #ededed;

    /* для Chrome/Edge/Safari */
    &::-webkit-scrollbar {
      height: 12px;
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: #ededed;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $activeColor;
      border-radius: 10px;
      border: 3px solid #ededed;
    }
  }

  // .hcatalog__item

  &__item {
    

  }

  // .hcatalog__link

  &__link {
    padding: 15px;
    display: inline-block;
    width: 250px;
    color: #1f1f1f;
    text-transform: uppercase;
    &:hover{
      background-color: $activeColorLight;    
    }
  }
}
